<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <title>Technical Portal</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a style="color:#fff" class="navbar-brand animated bounce sticky-top" href="/">Technical Portal
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul  class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a style="color:#fff" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>

        
        <li class="nav-item active">
          <a style="color:#fff;font-size:20px" class="nav-link btn btn-danger" href="/resume">Resume <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a style="color:#fff;font-size:20px" class="nav-link btn btn-success" href="/resume/new">Add Resume <span class="sr-only">(current)</span></a>
        </li>
      </li>

      </ul>

    </div>
  </nav>
