<% include ./partials/header %>

<!-- carousel starts here -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
  <div class="carousel-item active">
    <img class="d-block w-100" src="https://images.unsplash.com/photo-1476211428437-a0337e190ac4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ea94cc5c26af213a66370404c14328c3&auto=format&fit=crop&w=1189&q=80" alt="First slide">
    <div class="carousel-content">
      <h2>Civil Engineering</h2>
      <!-- <p> We engineers are artists. Physics talks about symmetry, we meddle with symmetry. Just like physicists, engineers have something to deliver to this world. Engineering is ingenuity. If you want to make something move, you would start thinking. The thinking is initiated by a need, a task at hand. The thinking process would drives learning, design, and ultimately create. That is Engineering.</p> -->
      </div>
  </div>
  <div class="carousel-item">
    <img class="d-block w-100" src="https://construction.utah.edu/wp-content/uploads/sites/54/2016/11/ConstructionWorker1280x700-1280x500.jpg" alt="Second slide">
    <div class="carousel-content">
      <h1>A good scientist is a person with original ideas. A good engineer is a person who makes a design that works with as few original ideas as possible <span>do</span>. </h1>
      <!-- <p>We have to think about cost, human resourses needed, how a product could be transported, how it would initiate industry, give employment. So engineering involves economics and management too. If I were given a task to make a fan temperature controlled, I would study the problem to the core. I am not interested in what is going on inside the black body</p> -->
      </div>
  </div>

</div>
<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
<!-- carousel ends here -->

<div class="border">
  <h1>A Technical Portal Civil Engineers!</h1>
  <p>Profession that deals with the design, construction, and maintenance of the physical and naturally built environment, including works like roads, bridges, ...</p>
</div>

<!-- container for links and courses -->
<div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 links">
          <a class="gate" href="https://ocw.mit.edu/courses/civil-and-environmental-engineering/1-051-structural-engineering-design-fall-2003/">
          <div class="content animated">
            <div class="row">
              <div class="col-md-2">
                <p><i style="background-color:#2ecc71" class="fa fa-code icon" aria-hidden="true"></i></p>
             </div>
              <div class="col-md-10">
                <h3 class="info">Structrual Engineering</h3>
                <!-- <p>We personally curate courses to enable you to learn under the aegis of experienced teachers.</p> -->
               <p class="matter">As a structural engineer, you'll design structures to withstand stresses and pressures imposed through environmental conditions and human use. You'll ensure buildings and other structures do not deflect, rotate, vibrate excessively or collapse and that they remain stable and secure throughout their use.</p>
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6 links">
          <a class="gate" href="https://learn.org/articles/Online_Schools_and_Courses_in_Hydraulics_Engineering.html" target="_blank">
          <div class="content animated">
            <div class="row">
              <div class="col-md-2">
                <p><i style="background-color:#3498db" class="fa fa-codepen icon" aria-hidden="true"></i></p>
             </div>
              <div class="col-md-10">
                <h3 class="info">Hydraulic Engineering
</h3>
                <!-- <p>We personally curate courses to enable you to learn under the aegis of experienced teachers.</p> -->
                <p class="matter">Hydraulic engineering is the application of the principles of fluid mechanics to problems dealing with the collection, storage, control, transport, regulation, measurement, and use of water. Before beginning a hydraulic engineering project, one must figure out how much water is involved.

</p>
              </div>
            </div>
          </div>
        </a>
        </div>
        <div class="col-md-6 col-sm-6 links">
          <a class="gate" href="http://au.autodesk.com/au-online/classes-on-demand/autocad" target="
          ">
            <div class="content animated">
              <div class="row">
                <div class="col-md-2">

                  <p><i style="background-color:#f1c40f" class="fa fa-snowflake-o  icon" aria-hidden="true"></i></p>
               </div>
                <div class="col-md-10">
                  <h3 class="info">AutoCad</h3>
                  <!-- <p>We personally curate courses to enable you to learn under the aegis of experienced teachers.</p> -->
                 <p class="matter">AutoCAD is a computer-aided drafting software program used to create blueprints for buildings, bridges, and computer chips, among other things. Discover how AutoCAD is used by drafters and other professionals.

  </p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-6 col-sm-6 links">
          <a class="gate" href="https://madeeasy.in/home/GATE" target="_blank">
          <div class="content animated">
              <div class="row">
                <div class="col-md-2">
                   <!-- <p><i style="background-color:#f1c40f" class="fa fa-briefcase  icon" aria-hidden="true"></i></p> -->
                   <p><i style="background-color:#3498db" class="fa fa-graduation-cap icon" aria-hidden="true"></i></p>

               </div>
                <div class="col-md-10">
                  <h3 class="info">Gate</h3>
                  <!-- <p>We personally curate courses to enable you to learn under the aegis of experienced teachers.</p> -->
                 <p>Graduate Aptitude Test in Engineering (GATE) is an all India entrance Examination conducted jointly by IISc and seven IITs, every year in the month of January/February.</p>
                </div>
              </div>


          </div>
          </a>
        </div>
  </div>
</div>
<!-- container for links and courses -->

<% include ./partials/footer %>